:root {
  --slidev-code-font-size: 1.4em;
}

.slidev-code,
.slidev-code .shiki,
.slidev-code .shiki span {
  font-family: ui-monospace, "Cascadia Mono", Consolas, monospace !important;
  font-weight: 800 !important;
}

.slidev-layout:has(.slidev-code) {
  padding-top: 0.5rem !important;
}

.slidev-code {
  line-height: 1.1 !important;
  background: white !important;
}

.slidev-code .shiki {
  background: white !important;
}

html:not(.dark) .shiki span {
  color: black !important;
}

html.dark .shiki span {
  color: black !important;
}

.slidev-code .line.dishonored {
  opacity: 1 !important;
  filter: none !important;
}

.slidev-code .line.dishonored span {
  color: black !important;
}

.slidev-code .line.highlighted {
  background-color: #ffff00 !important;
}

.slidev-layout p,
.slidev-layout li {
  font-size: 1.3em;
  line-height: 1.2;
  margin-bottom: 0.4em;
}

.slidev-layout table {
  font-size: 1.1em;
}

.slidev-layout td,
.slidev-layout th {
  padding: 0.1em 0.4em;
}
